In [3]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///banco.db', echo=True)
dados = pd.read_csv('../bases_tratadas/amostra_presentes_enem_bruto1.csv')

In [4]:
dados.to_sql('dados', con=engine, if_exists='replace', index=False)

2024-11-26 20:02:02,821 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-26 20:02:02,834 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dados")
2024-11-26 20:02:02,834 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-26 20:02:02,837 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dados")
2024-11-26 20:02:02,838 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-26 20:02:02,841 INFO sqlalchemy.engine.Engine
CREATE TABLE dados (
	"TP_SEXO" TEXT,
	"SG_UF_ESC" TEXT,
	"NU_NOTA_MT" FLOAT,
	"NU_NOTA_REDACAO" FLOAT,
	"R_Q002" TEXT,
	"R_Q006" TEXT,
	"R_TP_ESCOLA" TEXT
)


2024-11-26 20:02:02,842 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2024-11-26 20:02:03,446 INFO sqlalchemy.engine.Engine INSERT INTO dados ("TP_SEXO", "SG_UF_ESC", "NU_NOTA_MT", "NU_NOTA_REDACAO", "R_Q002", "R_Q006", "R_TP_ESCOLA") VALUES (?, ?, ?, ?, ?, ?, ?)
2024-11-26 20:02:03,446 INFO sqlalchemy.engine.Engine [generated in 0.40492s] [('F', 'Desconhecido', 675.8, 800.0, 'Completou o Ensino Medio, mas nao completou a Faculdade.', 'De 1.320,01 ate 1.980,00', 'Publica'), ('M', 'Desconhecido', 495.1, 600.0, 'Completou a 8 serie/9 ano do Ensino Fundamental, mas nao completou o Ensino Medio.', 'De 1.320,01 ate 1.980,00', 'Nao respondeu'), ('F', 'ES', 758.3, 920.0, 'Completou o Ensino Medio, mas nao completou a Faculdade.', 'De 1.320,01 ate 1.980,00', 'Publica'), ('M', 'RJ', 757.6, 600.0, 'Completou o Ensino Medio, mas nao completou a Faculdade.', 'Ate 1.320,00', 'Publica'), ('F', 'Desconhecido', 495.0, 640.0, 'Completou a Faculdade, mas nao completou a Pos graduaçao.', 'De 1.320,01 ate 1.980,00', 'Nao respondeu'), ('F', 'SP', 539.0, 620.0, 'Completou o Ensino Medio, mas nao completou a Faculdade.', 'De 2.640,01 ate 3.300,00.', 'Publica'), ('F', 'Desconhecido', 541.4, 700.0, 'Completou o Ensino Medio, mas nao completou a Faculdade.', 'De 2.640,01 ate 3.300,00.', 'Publica'), ('M', 'Desconhecido', 569.5, 620.0, 'Completou o Ensino Medio, mas nao completou a Faculdade.', 'De 15.840,01 ate 19.800,00.', 'Nao respondeu')  ... displaying 10 of 100000 total bound parameter sets ...  ('M', 'Desconhecido', 421.6, 720.0, 'Completou a Faculdade, mas nao completou a Pos graduaçao.', 'De 3.960,01 ate 5.280,00.', 'Nao respondeu'), ('F', 'Desconhecido', 607.9, 920.0, 'Completou a Pos graduaçao.', 'De 2.640,01 ate 3.300,00.', 'Nao respondeu')]
2024-11-26 20:02:03,622 INFO sqlalchemy.engine.Engine COMMIT

100000